*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing
{
    min-height: 100vh;
    background:url('./hi.jpg');
    background-size: cover;
    padding: 0 50px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}
.nav-link
{
    display: flex;
    list-style: none;
}
.nav-link li
{
    padding-left: 100px;
    font-size: 20px;
}
#logo
{
    font-family: "lobster", cursive;
    font-weight: lighter;
    font-size: 30px;
}
.big-text
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-family: "lobster", cursive;
    font-weight: lighter;
    font-size: 40px;
    color: rgb(48, 48, 48);
}
.intro
{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider
{
    background: rgb(92, 127, 180);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text
{
    color: rgb(255, 255, 255);
    font-family: 'Heebo', sans-serif;
    font-size: 35px;
}
.hide
{
    background: black;
    overflow: hidden;
}
.hide span
{
    transform: translateY(100%);
    display: inline-block;
}